@import "tailwindcss";
/* @import 'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap'; */




body{
  background: #FCFFE7;
}





.brandh1{
   font-size: 22vw;
    position: absolute;
    top: 50%!important;
    left: 50%;
    transform: translate(-50%, -50%);
}
    /* Cursor.css */
    .cursor {
      position: fixed;
      top: 0;
      left: 0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: #B85C38; /* Customize appearance */
      pointer-events: none; /* Ensures the cursor doesn't interfere with clicks */
      z-index: 9999; /* Ensure it's on top */
    }

    *::selection{
      color: white;
      background: #000;
    }
